$breakpoints: (
  'xs-phone': 320px,
  'phone': 375px,
  'tablet': 768px,
  'desktop': 1024px,
  'widescreen': 1220px
);

// keywords
$media-expressions: (
  'screen': 'screen',
  'print': 'print',
  'handheld': 'handheld',
  'landscape': '(orientation: landscape)',
  'portrait': '(orientation: portrait)',
  'retina2x': '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)',
  'retina3x': '(-webkit-min-device-pixel-ratio: 2.5), (min-resolution: 240dpi)'
);

// ligatured operators ≥ ≤

@import 'vendors/include-media';
@import 'vendors/normalize';
@import 'base/variables';
@import 'base/functions';
@import 'base/mixins';
@import 'base/helpers';
@import 'base/reset';
@import 'base/typography';
@import 'base/forms';

@import 'layouts/header';
@import 'layouts/common';
@import 'layouts/footer';
@import 'layouts/resources';

body {
  @include media('>=tablet') {
    font-size: 16px;
    line-height: 26px;
  }
}

#wrapper {
  overflow: hidden;
  background: $white;
  margin-bottom: 50px;
}

.holder {
  @extend %clearfix;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
  @include media('>=375px') {
    padding: 0 38px;
  }
  @include media('>=tablet') {
    padding: 0 10px;
  }
}

.nav__active {
  overflow: hidden;
}

#app {
}

.practitioner {
  margin: 50px;
}

.practitioner .title {
  font-size:32px;
  letter-spacing: 2px;

}

.app-nav {
  padding-bottom: 10px;
  border-bottom: 1px solid grey;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
}

.app-nav * {
  display: inline-block;
  margin-right: 10px;
}

.resize-active * {
  transition: none !important;
}

//#map {
//  background: black;
//  width: 100%;
//  height: 400px;
//}

#mapBox {
  background: black;
}

.searchBox {
  margin: 20px;
  padding-top: 85px;
}

.content {
  margin-left: 20px;
  margin-right: 20px;
}

.info__post {
  cursor: pointer;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}