<template>
  <div v-if="nowPath!=='/practice-locator'" id="footer">
    <div class="holder">
      <a href="#" class="scroll up" v-scroll-to="'#header'">
        <span class="icon-chevron-up"></span>
      </a>
      <div class="footer__logo">
        <a href="#">
          <img src="@/assets/images/footer-logo.png"
               alt="Eyespace by innovatus technology"
               width="242"
               height="43">
        </a>
      </div>
      <ul class="footer__links">
        <li>Copyright {{nowYear}} Innovatus Technology Pty Ltd</li>
      </ul>
    </div>
  </div>
</template>

<script>
    export default {
        name: 'app-footer',
        data() {
            return {
                nowYear: new Date().getFullYear(),
                nowPath: window.location.pathname,
            };
        },
    };
</script>

<style scoped>

</style>
