<template>
  <div id="header" :class="this.$route.name === 'app.home' ? 'header-default' : ''">
    <div class="holder">
      <div class="logo">
        <router-link :to="{name: 'app.home'}" v-scroll-to="'#header'">
          <img src="@/assets/images/logo.png"
               alt="EyeSpace by innovatus technology"
               width="242"
               height="43">
        </router-link>
      </div>
      <nav class="nav">
        <a href="#" class="nav__opener" @click="openNav"><span></span></a>
        <div class="nav__drop">
          <a href="#" class="nav__opener" @click="actionNav"><span></span></a>
          <div class="nav__top"></div>
          <div class="nav__wrap">
            <ul class="nav__list">
              <template v-for="(item, index) in isActive">
                <li @click="actionNav(index)" :class="{ 'active': item.selected }" :key="index">
                  <router-link v-if="index === 0" :to="{name: 'app.home'}"
                               v-scroll-to="{
                               element: '#scroll01',
                               easing: [.6, .80, .30, 1.2],
                               offset: -85,
                               duration: 1000}">
                    scleral
                    <span class="icon-chevron-right"></span>
                  </router-link>

                  <router-link v-if="index === 1" :to="{name: 'app.home'}"
                               v-scroll-to="{
                               element: '#scroll02',
                               easing: [.6, .80, .30, 1.2],
                               offset: -85,
                               duration: 1000}">
                    forge
                    <span class="small">night</span>
                    <span class="icon">
                        <img src="@/assets/images/icon01.png"
                             alt="image description"
                             width="25"
                             height="20">
                      </span>
                    <span class="icon-chevron-right"></span>
                  </router-link>

                  <router-link v-if="index === 2" :to="{name: 'app.home'}"
                               v-scroll-to="{
                               element: '#scroll03',
                               easing: [.6, .80, .30, 1.2],
                               offset: -85,
                               duration: 1000}">
                    bespoke day
                    <span class="icon-chevron-right"></span>
                  </router-link>

                  <router-link v-if="index === 3" :to="{name: 'app.practice_locator'}">
                    find a practitioner
                    <span class="icon-chevron-right"></span>
                  </router-link>

                  <router-link v-if="index === 4" :to="{name: 'app.practitioner'}">
                    practitioner↗
                    <span class="icon-chevron-right"></span>
                  </router-link>

                  <div v-if="index === 0" class="nav__decor">
                    <span>contact lenses</span>
                    <span class="triangle"></span>
                  </div>
                  <div v-if="index === 4" class="dropdown-content">
                    <router-link class="btn is-success border-bottom"
                                 :to="{name: 'practitioner.intro'}">
                      Introduction for practitioners
                    </router-link>
                    <router-link class="btn is-success border-bottom"
                                 :to="{name: 'practitioner.blog_home'}">
                      Practitioner Blog
                    </router-link>
                    <router-link class="btn is-success border-bottom"
                                 :to="{name: 'practitioner.contact'}">
                      Contact an EyeSpace Representative
                    </router-link>
                    <a class="btn is-success" href="http://members.eyespace.com.au">Log In</a>
                  </div>
                </li>
              </template>
              <!--<li @click="actionNav">-->
              <!--<router-link :to="{name: 'app.resources'}">-->
              <!--resources-->
              <!--<span class="icon-chevron-right"></span>-->
              <!--</router-link>-->
              <!--</li>-->
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>

</template>

<script>

    const docElem = document.documentElement;
    let didScroll = false;
    const changeHeaderOn = 200;
    function scrollPage() {
        const sy = window.pageYOffset || docElem.scrollTop;
        if (sy >= changeHeaderOn) {
            document.getElementById('header').classList.remove('header-default');
        } else if (window.location.pathname === '/') {
            document.getElementById('header').classList.add('header-default');
        }
        didScroll = false;
    }
    function init() {
        window.addEventListener('scroll', () => {
            if (!didScroll) {
                didScroll = true;
                setTimeout(scrollPage, 250);
            }
        }, false);
    }

    init();

    export default {
        name: 'AppHeader',
        data() {
            return {
                isActive: [
                    { selected: false },
                    { selected: false },
                    { selected: false },
                    { selected: false },
                    { selected: false },
                ],
            };
        },
        methods: {
            openNav() {
                document.body.classList.add('nav__active');
            },
            actionNav(index) {
                if (this.$route.name !== 'app.home') {
                    document.getElementById('header').classList.remove('header-default');
                }
                document.body.classList.remove('nav__active');
                this.isActive.forEach((item) => {
                    item.selected = false;
                });
                this.isActive[index].selected = true;
            },
        },
    };
</script>

<style scoped>

</style>
