<template>
  <div id="main">
    <div class="intro">
      <div class="intro__holder" :style="{ height: windowHeight + 'px' }">
        <div class="intro__wrap">
          <div class="holder">
            <div class="intro__text-holder noselect">
              <h1>Welcome to EyeSpace</h1>
              <div class="intro__text">
                <p>Our mission is to produce contact lens products that change lives. We have
                  advanced software that helps your eyecare practitioner to design and fit contact
                  lenses specifically for your
                  eyes.</p>
                <p>If you are looking for a vision correction alternative to laser, have dry eyes,
                  short sightedness, long sightedness, keratoconus or have</p>
                <p>astigmatism then we may have the solution for you. Our product range suits all
                  ages and lifestyles from elite athletes to office workers. Children may also
                  benefit from our night time
                  contact lens which is used to help slow the progression of short sightedness.</p>
                <p>Scroll below to find out more.</p>
              </div>
              <a href="#" class="btn scroll" v-scroll-to="{
                               element: '#scroll01',
                               easing: [.6, .80, .30, 1.2],
                               offset: -85,
                               duration: 2000}">
                Find out more
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-for="(data, i) in content" :key="i">
      <banner :index=i+1 :banner="data.banner"></banner>
      <heading :index=i+1 :header="data.header"></heading>
      <articles :index=i+1 :articles="data.articles"></articles>
      <div v-if="i === 1" class="heading heading--03">
        <div class="heading__holder">
          <div class="heading__wrap">
            <div class="holder">
              <h1>Forge lenses work when you are not wearing them</h1>
            </div>
          </div>
        </div>
      </div>
      <div v-if="i === 1" class="chart">
        <div class="holder">
          <h2>How Ortho-K works</h2>
          <div class="chart__holder">
            <img src="@/assets/images/chart.png"
                 alt="image description"
                 width="597"
                 height="602"
                 ondragstart="return false;">
            <div class="chart__text chart__text--one">
              <div class="chart__wrap">
                <h3>Put on Lenses</h3>
                <p>Nighttime</p>
                <span class="chart__number">1</span>
              </div>
            </div>
            <div class="chart__text chart__text--two">
              <div class="chart__wrap">
                <h3>Sleep</h3>
                <p>Have a good rest</p>
                <span class="chart__number">2</span>
              </div>
            </div>
            <div class="chart__text chart__text--three">
              <div class="chart__wrap">
                <h3>Take off Lenses</h3>
                <p>Morning</p>
                <span class="chart__number">3</span>
              </div>
            </div>
            <div class="chart__text chart__text--four">
              <div class="chart__wrap">
                <h3>Enjoy Your Day!</h3>
                <p>No Glasses or Contacts</p>
                <span class="chart__number">4</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-info :oIndex=i+1 :info="data.info"></app-info>
      <app-quote v-if="i !== 2" :index=i+1></app-quote>
    </div>
  </div>

</template>

<script>
    import Articles from '../components/Home/Articles.vue';
    import Banner from '../components/Home/Banner.vue';
    import Heading from '../components/Home/Heading.vue';
    import Info from '../components/Home/Info.vue';
    import Quote from '../components/Home/Quote.vue';
    import homeContents from '../home_contents';

    export default {
        name: 'home',
        components: {
            Articles,
            Banner,
            Heading,
            appInfo: Info,
            appQuote: Quote,
        },
        data() {
            return {
                content: homeContents,
                windowHeight: window.innerHeight,
            };
        },
        mounted() {
            this.$nextTick(() => {
                window.addEventListener('resize', () => {
                    this.windowHeight = window.innerHeight;
                });
            });
        },
    };
</script>

<style lang="scss">
  .intro {
    background-image: url('../assets/images/img1.jpg');
  }

  .chart {
    background: url('../assets/images/gradient.jpg');
  }

  .heading.heading--01 {
    background-image: url('../assets/images/img2.jpg');
  }

  .heading.heading--02 {
    background-image: url('../assets/images/img12.jpg');
  }

  .heading.heading--03 {
    background-image: url('../assets/images/img14.jpg');
  }

  .heading.heading--04 {
    background-image: url('../assets/images/img23.jpg');
  }

</style>
