<template>
  <div>
    <div id="main" class="practitioner">
      <div class="intro__wrap">
        <h2 class="title">We make OrthoK and other life changing technologies accessible to
          all contact lens practitioners.</h2>
        <p>We think fitting RGP lenses should be easier—which is why we created
          EyeSpace.</p>
        <h2>10 minutes to start.</h2>
        <p>Just contact your local
          <router-link :to="{name: 'practitioner.contact'}">EyeSpace distributor
          </router-link>
          and set up an account.
        </p>
      </div>
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
    import AppFooter from '@/components/layouts/AppFooter.vue';

    import AppHeader from '@/components/layouts/AppHeader.vue';

    export default {
        name: 'practitioner',
        components: {
            AppFooter,
            AppHeader,
        },
        data() {
            return {
                items: [
                    'Introduction for practitioners',
                    'Practitioner Blog',
                    'Contact an EyeSpace Representative',
                    'Log In',
                ],
            };
        },
    };
</script>

<style scoped>

</style>
