<template>
  <div id="main">
    <div class="searchBox">
      <!--<h1>Show locations within 30 km</h1>-->
      <!--<label for="raddressInput">Search location:</label>-->
      <!--<input type="text" id="addressInput" size="15"/>-->
      <!--<input type="button" id="searchButton" value="Search"/>-->
      <!--<label>-->
      <!--<gmap-autocomplete-->
      <!--@place_changed="setPlace">-->
      <!--</gmap-autocomplete>-->
      <!--<button @click="addMarker">Search</button>-->
      <!--</label>-->
      <!--<br/>-->
    </div>

    <gmap-map
            :center="center"
            :zoom="zoom"
            :map-type-id="mapType"
            :options="options"
            id="map"
            class="map-panel"
            style="width: 100%; height: 100%; position: absolute; left:0; top:85px"
    >
      <gmap-info-window
              :options="infoOptions"
              :position="infoWindowPos"
              :opened="infoWinOpen"
              @closeclick="infoWinOpen=false"
      >
        <div id="content">
          <div id="siteNotice">
            <h5 id="firstHeading" class="firstHeading">
              {{infoContent.name}}
            </h5>
            <div id="bodyContent">
              <h6 v-if="infoContent.map_website==='no website'">
                {{infoContent.map_website}}
              </h6>
              <a v-else :href="''+infoContent.map_website+''" target="_blank">
                <h6>{{infoContent.map_website}}</h6>
              </a>
              <h6>
                {{infoContent.map_phone}}
              </h6>
            </div>
          </div>
        </div>
      </gmap-info-window>
      <gmap-marker
              :key="index"
              v-for="(m, index) in csvData"
              :position="{'lat': Number(m.map_lat), 'lng': Number(m.map_long)}"
              :clickable="true"
              :draggable="true"
              @click="toggleInfoWindow(m,index)"
      >
        <!--@click="center={'lat': Number(m.map_lat), 'lng': Number(m.map_long)}"-->
        {{infoContent}}
      </gmap-marker>
    </gmap-map>

  </div>
</template>
<script>
    import Papa from 'papaparse';

    export default {
        name: 'GoogleMap',
        data() {
            return {
                center: {
                    lat: -33.863276,
                    lng: 151.107977,
                },
                markers: [],
                place: [],
                csvData: {},
                currentPlace: null,
                infoContent: [],
                infoWindowPos: null,
                infoWinOpen: false,
                currentMidx: null,
                infoOptions: {
                    pixelOffset: {
                        width: 0,
                        height: -35,
                    },
                },
                mapType: 'terrain',
                zoom: 11,
                options: {
                    styles: 'green',
                    scrollwheel: true,
                    fullscreenControl: false,
                    zoomControl: true,
                    mapTypeControl: true,
                    streetViewControl: true,
                    zoomControlOptions: {
                        position: 1,
                    },
                    streetViewControlOptions: {
                        position: 1,
                    },
                    mapTypeControlOptions: {
                        position: 3,
                    },
                },
            };
        },
        mounted() {

        },
        created() {
            Papa.parse('https://dataclips.heroku.com/iylgpygjdarrjazbjlafkzqkmzwn.csv', {
            // Papa.parse('@/assets/cyxxskcmsqcullwlfztawjgehdgb.csv', {
                dynamicTyping: true,
                delimiter: ',',
                download: true,
                keepEmptyRows: false,
                skipemptylines: true,
                header: true,
                complete: (results) => {
                    // console.log("Parsing complete:", results);
                    this.csvData = results.data;
                    // console.log("result:", this.results);
                },
            });
            this.geolocate();
        },
        methods: {
            addMarker() {
                if (this.currentPlace) {
                    const marker = {
                        lat: this.currentPlace.geometry.location.lat(),
                        lng: this.currentPlace.geometry.location.lng(),
                    };
                    this.markers.push({
                        position: marker,
                    });
                    this.place.push(this.currentPlace);
                    this.center = marker;
                    this.currentPlace = null;
                }
            },
            toggleInfoWindow(m, index) {
                this.infoWindowPos = {
                    lat: Number(m.map_lat),
                    lng: Number(m.map_long),
                };
                this.infoContent = m;

                if (this.currentMidx === index) {
                    this.infoWinOpen = !this.infoWinOpen;
                } else {
                    this.infoWinOpen = true;
                    this.currentMidx = index;
                }
            },
            geolocate() {
                navigator.geolocation.getCurrentPosition((position) => {
                    this.center = {
                        lat: position.coords.latitude,
                        lng: position.coords.longitude,
                    };
                });
            },
        },
    };
</script>

<style scoped>
  #main {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
  }

  .map-panel {
    flex: 4 1 80%;
  }

  .settings-panel {
    overflow-y: scroll;
    flex: 1 0 500px;
  }

</style>
