<template>
  <div>
    <section class="content resources-article resources-page">
      <article class="bespoke">
        <h1>Resources</h1>
        <ul>
          <li>
            <router-link :to="{name: 'resources.forge_care'}" v-scroll-to="'#forge_care'">
              Forge care and maintenance
            </router-link>
          </li>
          <li>
            <router-link :to="{name: 'resources.eyespace_bespoke_care'}"
                         v-scroll-to="'#eyespace_bespoke'">
              Bespoke care and maintenance
            </router-link>
          </li>
          <li>
            <router-link :to="{name: 'resources.eyespace_bespoke_lenses'}"
                         v-scroll-to="'#eyespace_bespoke_lenses'">
              Bespoke lenses
            </router-link>
          </li>
          <li>
            <router-link :to="{name: 'resources.forge_ortho_ks'}" v-scroll-to="'#forge_ortho_ko'">
              What is Forge Ortho-K
            </router-link>
          </li>
        </ul>
      </article>
    </section>
    <router-view/>
  </div>
</template>

<script>
    export default {
        name: 'resource',
    };
</script>

<style scoped>

</style>
