#main {
	&.main--inner {
		.holder {
			padding: 0 20px;

			@include media('>=tablet') {
				padding: 0 10px;
			}
		}
	}
}

.intro {
	color: #fff;
	background-size: cover;
	background-position: center;
	position: relative;
	z-index: 1;
	&:before {
		content:"";
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		z-index: -1;
		background: rgba(0,0,0,0.4);
	}

	.intro__text-holder {
		@include media('>=tablet') {
			max-width: 1050px;
		}
	}

	&__holder {
		display: table;
		width: 100%;
		table-layout: fixed;
	}

	&__wrap {
		display: table-cell;
		vertical-align: middle;
		padding: 100px 0 20px;

		@include media('>=desktop') {
			padding: 120px 0 40px;
		}
	}

	&__text {
		margin: 0 0 20px;

		@include media('>=tablet') {
			line-height: 22px;
			margin: 0 0 32px;
		}

		p {
			margin: 0 0 9px;

			@include media('>=tablet') {
				margin: 0 0 13px;
			}
		}
	}
}

h1 {
	font-size: 25px;
	line-height: 29px;
	margin: 0 0 16px;
	@include media('>=tablet') {
		font-size: 50px;
		line-height: 60px;
		margin: 0 0 33px;
	}
}

.btn {
	background: $green;
	display: block;
	width: 140px;
	font-size: 11px;
	line-height: 15px;
	text-align: center;
	padding: 10px 5px 9px;
	color: $white;
	font-weight: 500;

	@include media('>=tablet') {
		font-size: 16px;
		line-height: 20px;
		width: 200px;
		padding: 15px 5px 13px;
	}

	&:hover {
		opacity: 0.7;
	}
}

.btn_country {
    margin-left:auto;
    margin-right:auto;
}

.banner {
	background: #000;
	text-align: center;
	padding: 37px 0 43px;

	@include media('>=tablet') {
		padding: 45px 0 56px;
	}

	&.banner--01 {
		.banner__logo {
			max-width: 299px;

			@include media('>=tablet') {
				max-width: 406px;
			}
		}

	}

	&.banner--02 {
		padding: 25px 0 29px;
		@include media('>=tablet') {
			padding: 45px 0 46px;
		}
		.banner__logo {
			max-width: 180px;

			@include media('>=tablet') {
				max-width: 208px;
			}
		}
	}

	&.banner--03 {
		padding: 45px 0 42px;

		@include media('>=desktop') {
			padding: 85px 0 82px;
		}

		.banner__logo {
			max-width: 198px;
			margin-bottom: 13px;

			@include media('>=tablet') {
				width: 256px;
				max-width: none;
			}

			@include media('>=desktop') {
				display:inline-block;
				vertical-align:top;
				margin: 0 15px 0 0;
			}
		}
	}

	&__text {
		@include media('>=desktop') {
			display:inline-block;
			vertical-align:top;
			margin: 3px 0 0;
		}
		h1 {
			color: $white;
			margin: 0;
			font-size: 25px;
			line-height: 31px;

			@include media('>=tablet') {
				font-size: 55px;
				line-height: 60px;
			}
		}
	}

	&__logo {
		margin: 0 auto;
	}

	img {
		max-width: 100%;
		height: auto;
	}
}

.heading {
	text-align: center;
	background-size: cover;
	background-position: center;
	position: relative;
	z-index: 1;
	color: $white;

	&:before {
		content:"";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: -1;
		background: rgba(0,0,0,0.4);
	}

	&.heading--01 {
		@include media('<tablet') {
			background-image: url(../images/img2-mobile.jpg) !important;
			background-size: cover;
			background-position: center;
		}
	}

	&.heading--02 {
		@include media('<tablet') {
			background-image: url(../images/img12-mobile.jpg) !important;
			background-size: cover;
			background-position: center;
		}
	}

	&.heading--03 {

		@include media('<tablet') {
			background-image: url(../images/img14-mobile.jpg) !important;
			background-size: cover;
			background-position: center;
		}

		.heading__holder {
			height: 195px;
			@include media('>=desktop') {
				height: 299px;
			}
		}

		h1 {
			font-size: 20px;
			line-height: 28px;
			margin: 0;

			@include media('>=tablet') {
				font-size: 37px;
				line-height: 43px;
			}
		}
	}

	&.heading--04 {
		@include media('<tablet') {
			background-image: url(../images/img23-mobile.jpg) !important;
			background-size: cover;
			background-position: center;
		}
	}

	&__holder {
		height: 178px;
		display: table;
		width: 100%;
		table-layout: fixed;

		@include media('>=tablet') {
			height: 200px;
		}

		@include media('>=desktop') {
			height: 293px;
		}
	}

	&__wrap {
		display: table-cell;
		vertical-align: middle;
		padding: 20px 0 20px;
	}

	h1 {
		font-size: 25px;
		line-height: 34px;
		margin: 10px 0 0;
		@include media('>=tablet') {
			font-size: 40px;
			line-height: 45px;
			margin: 15px 0 0;
		}
		@include media('>=desktop') {
			font-size: 55px;
			line-height: 60px;
			margin: 25px 0 0;
		}
	}
}

.article {
	padding: 37px 0;
	font-size: 0;
	line-height: 0;
	@include media('>=tablet') {
		margin: 0 -15px;
		padding: 70px 0;
	}
	@include media('>=desktop') {
		padding: 147px 0 66px;
		margin: 0 -10px;
	}

	&.article--02 {
		@include media('>=tablet') {

		}
		@include media('>=desktop') {
			padding: 100px 0 61px;
		}
	}

	&__img {
		text-align: center;
		margin: 0 0 14px;
		@include media('>=tablet') {
			display:inline-block;
			vertical-align:middle;
			width: 50%;
			padding: 0 15px;
			margin: 0;
		}

		@include media('>=desktop') {
			width: 54%;
			padding: 0 10px;
		}

		@include media('>=widescreen') {
			text-align: right;
			padding: 0 25px 0 10px;
		}
	}

	&__text {
		padding: 0 14px;
		font-size: 10px;
		line-height: 16px;

		@include media('>=tablet') {
			display:inline-block;
			vertical-align:middle;
			width: 50%;
			text-align: left;
			padding: 0 15px;
			font-size: 16px;
			line-height: 26px;
		}

		@include media('>=desktop') {
			width: 46%;
			padding: 0 10px;
		}

		&.article__text--two {
			h2 {
				font-size: 17px;
				@include media('>=tablet') {
					font-size: 26px;
				}
			}
		}

		h2 {
			text-align: center;
			word-spacing: -1px;

			@include media('>=tablet') {
				text-align: left;
			}
		}

		p {
			margin: 0 0 12px;

			@include media('>=tablet') {
				margin: 0 0 15px;
			}
		}

		.button {
			@include media('>=tablet') {
				margin: 0;
			}
		}
	}
}

h2 {
	font-size: 18px;
	line-height: 24px;
	margin: 0 0 11px;
	color: $black;

	@include media('>=tablet') {
		font-size: 26px;
		line-height: 32px;
		margin: 0 0 15px;
	}
}

.button {
	display: block;
	text-align: center;
	width: 153px;
	margin: 0 auto;
	background: $black;
	color: $white;
	padding: 11px 5px 9px;
	font-size: 0;
	line-height: 0;
	box-shadow: 0 3px 5px rgba(149,149,149,0.75);

	@include media('>=tablet') {
		width: 260px;
		padding: 17px 5px;
	}

	&:hover {
		opacity: 0.8;
	}

	&__icon {
		display:inline-block;
		vertical-align:middle;
		width: 28px;
		@include media('>=tablet') {
			width: 46px;
		}

		img {
			width: 100%;
			height: auto;
		}
	}

	&__text {
		display:inline-block;
		vertical-align:middle;
		font-size: 11px;
		line-height: 15px;
		margin: 2px 0 0 5px;
		@include media('>=tablet') {
			// font-size: 21px;
			// line-height: 25px;
			font-size: 18px;
			line-height: 22px;
			margin: 2px 0 0 10px;
		}
	}
}

.info {
	padding: 1px 0 82px;

	&.info--02 {
		padding: 36px 0 20px;

		@include media('>=tablet') {
			padding: 64px 0 99px;
		}

		.info__area {
			.info__icon-holder {
				width: 96px;
				@include media('>=tablet') {
					width: 130px;
				}
			}
		}
	}

	&.info--03 {
		padding: 22px 0 70px;
		@include media('>=tablet') {
			padding: 0 0 94px;
		}

		.info__area {
			.info__icon-holder {
				width: 96px;
				@include media('>=tablet') {
					width: 114px;
				}
			}
		}
	}

	.holder {
		@include media('>=375px') {
			padding: 0 65px;
		}
		@include media('>=tablet') {
			padding: 0 10px;
		}
	}

	&__heading {
		text-align: center;
		margin: 0 0 40px;

		@include media('>=tablet') {
			font-size: 14px;
			line-height: 20px;
			font-family: $helvetica;
		}

		@include media('>=desktop') {
			margin: 0 0 80px;
		}

		h2 {
			font-size: 18px;
			line-height: 26px;
			margin: 0 0 11px;
			color: $black;
			font-family: $poppins;

			@include media('>=tablet') {
				font-size: 26px;
				line-height: 30px;
				margin: 0 0 18px;
			}
		}

		p {
			margin: 0 0 19px;
			@include media('>=tablet') {
				margin: 0 0 27px;
			}
		}

		.info__extra {
			font-weight: 500;
			text-align: center;
			display: block;
			font-size: 18px;
			line-height: 26px;

			@include media('>=tablet') {
				font-size: 24px;
				line-height: 28px;
			}
		}
	}

	&__row {
		margin: 0 0 60px;
		@include media('>=tablet') {
			margin: 0 0 40px;
		}
		@include media('>=desktop') {
			margin: 0 0 80px;
		}
	}

	&__row-wrap {
		@extend %clearfix;
		@include media('>=tablet') {
			margin: 0 -20px;
		}
		@include media('>=desktop') {
			margin: 0 -20px;
		}
	}

	&__col {
		margin: 0 0 8px;
		border-radius: 5px;
		@include media('>=tablet') {
			margin: 0 0 40px;
			float: left;
			width: 50%;
			padding: 0 20px;
		}
		@include media('>=desktop') {
			width: 25%;
			margin: 0;
		}
	}

	&__post {
		position: relative;
		display: block;
		color: $white;

		&:before {
			content:"";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: rgba(0,0,0,0.4);
			border-radius: 5px;
		}

		&.info__active {
			.info__overlay-text {
				opacity: 0;
				visibility: hidden;
			}

			.info__check {
				opacity: 1;
				visibility: visible;
			}
		}

		&:hover {
			box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
			transition: 0.5s;
			border-radius: 5px;
			//.info__overlay-text {
			//	@include media('>=1025px') {
			//		visibility: hidden;
			//		opacity: 0;
			//	}
			//}

			//.info__check {
			//	@include media('>=1025px') {
			//		opacity: 1;
			//		visibility: visible;
			//	}
			//}
		}

		img {
			max-width: none;
			width: 100%;
			border-radius: 5px;
		}

		.info__overlay-text {
			text-align: center;
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			transform: translateY(-50%);
			padding: 0 10px;
			margin: 14px 0 0;
			z-index: 1;
			font-size: 14px;
			line-height: 19px;
			transition: opacity 0.3s linear, visibility 0.3s linear;
			
			@include media('>=tablet') {
				font-size: 16px;
				line-height: 20px;
			}

			h3 {
				font-size: 18px;
				line-height: 22px;
				margin: 0;

				@include media('>=tablet') {
					font-size: 20px;
					line-height: 24px;
				}
			}

			p {
				margin: 0;
			}
		}

		.info__check {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 1;
			width: 135px;
			opacity: 0;
			visibility: hidden;
			transition: opacity 0.3s linear, visibility 0.3s linear;
			@include media('>=tablet') {
				width: 150px;
			}
		}
	}

	&__area {
		text-align: center;
		margin: 0 -20px;
		font-size: 14px;
		line-height: 24px;
		font-weight: 500;
		padding: 20px 20px 0;

		@include media('>=tablet') {
			margin: 0;
			font-size: 20px;
			line-height: 24px;
			padding: 30px 0 0;
		}

		p {
			margin: 0 0 20px;
			@include media('>=tablet') {
				margin: 0 0 40px;
			}
		}

		.info__icon-holder {
			margin: 0 auto 20px;
			width: 102px;

			@include media('>=tablet') {
				width: 144px;
				margin: 0 auto 20px;
			}

			@include media('>=desktop') {
				margin: 0 auto 36px;
			}
		}
	}

	&__text {
		font-size: 25px;
		line-height: 32px;
		color: $black;
		display: block;
		font-weight: 500;
		margin: 0 0 15px;

		@include media('>=tablet') {
			font-size: 36px;
			line-height: 40px;
			margin: 0 0 25px;
			word-spacing: -2px;
		}

		@include media('>=desktop') {
			font-size: 48px;
			line-height: 54px;
			margin: 0 0 47px;
		}
	}
}

.quotes {
    display:none;
	background: #f2f1f1;
	padding: 62px 0 61px;

	@include media('>=tablet') {
		padding: 80px 0;
	}

	@include media('>=desktop') {
		padding: 131px 0 69px;
	}

	.holder {
		@include media('>=375px') {
			padding: 0 65px;
		}
		@include media('>=tablet') {
			padding: 0 10px;
		}
	}

	&__heading {
		text-align: center;
		color: #abafb8;
		margin: 0 0 37px;

		@include media('>=tablet') {
			font-size: 14px;
			line-height: 26px;
			margin: 0 0 25px;
		}

		@include media('>=desktop') {
			margin: 0 0 52px;
		}

		h2 {
			font-size: 18px;
			line-height: 26px;
			color: $black;
			margin: 0 0 17px;

			@include media('>=tablet') {
				font-size: 26px;
				line-height: 30px;
				margin: 0 0 14px;
			}

			.gray-text {
				color: #6d6e71;
			}

			.green-text {
				color: #23a638;
			}

			.blue-text {
				color: #7c96cd;
			}
		}

		p {
			margin: 0;
			text-transform: uppercase;
		}
	}

	&__slider {
		position: relative;

		@include media('>=tablet') {
			max-width: 900px;
			margin: 0 auto;
		}

		&.quotes__slider--second {
			.quotes__post {
				&:before {
					@include media('>=tablet') {
						background: url(../images/quote-2.png);
						background-size: 100% 100%;
						width: 213px;
						height: 187px;
					}

					@include media('>=widescreen') {
						width: 284px;
						height: 249px;
					}
				}
			}
			.pagination {

				li {
					&.active {
						a {
							background: #23a638;
						}
					}
				}

				a {
					background: #9fd3a7;

					&:hover {
						background: #23a638;
					}
				}
			}
		}

		&.quotes__slider--third  {

			@include media('>=tablet') {
				max-width: 770px;
			}

			.pagination {

				li {
					&.active {
						a {
							background: #7c96cd;
						}
					}
				}

				a {
					background: #ced5e6;

					&:hover {
						background: #7c96cd;
					}
				}
			}
		}

		.slideset {
			position: relative;
		}

		.slide {
			position: absolute;
			z-index: 1;
			left: 0;
			top: 0;
			right: 0;
			width: 100%;
			&.active {
				z-index: 2;
			}
		}

		.pagination {
			margin: 0;

			ul {
				@extend %listreset;
				font-size: 0;
				line-height: 0;
				text-align: center;

				li {
					display:inline-block;
					vertical-align:top;
					padding: 0 15px;
					margin: 0 0 30px;
					@include media('>=tablet') {
						padding: 0 20px;
					}

					&.active {
						a {
							background: #6d6e71;
						}
					}
				}

				a {
					display: block;
					width: 53px;
					height: 54px;
					background: #bdbdbe;
					box-shadow: 0 3px 5px rgba(149,149,149,0.4);

					@include media('>=tablet') {
						width: 70px;
						height: 71px;
					}

					&:hover {
						background: #6d6e71;
					}
				}
			}
		}
	}

	&__post {
		margin: 0;
		display: block;
		text-align: center;
		font-size: 18px;
		line-height: 27px;
		color: $black;
		font-weight: 700;
		position: relative;
		z-index: 1;
		padding: 22px 0 0;

		@include media('>=tablet') {
			font-size: 28px;
			line-height: 44px;
			padding: 5px 0 0;
		}

		@include media('>=desktop') {
			padding: 45px 0 0;
		}

		&:before {
			content:"";
			background: url(../images/quote.png);
			background-size: 100% 100%;
			width: 243px;
			height: 222px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: -1;

			@include media('>=tablet') {
				width: 245px;
				height: 227px;
				top: 0;
				transform: translate(-50%, 0);
			}

			@include media('>=widescreen') {
				top: 0px;
				width: 326px;
				height: 302px;
			}
		}

		q {
			display: block;
			margin: 0 0 32px;

			@include media('>=tablet') {
				margin: 0 0 30px;
			}

			@include media('>=desktop') {
				margin: 0 0 46px;
			}
		}

		cite {
			display: block;
			font-style: normal;
			font-size: 14px;
			line-height: 18px;

			@include media('>=tablet') {
				font-size: 16px;
				line-height: 20px;
				font-family: $helvetica;
				font-weight: 700;
			}

			a {
				color: $green;
				&:hover {
					opacity: 0.8;
				}
			}
		}
	}
}

.chart {
	text-align: center;
	padding: 33px 0 74px;
	background-size: cover;
	background-position: center;

	@include media('>=tablet') {
		padding: 65px 0 110px;
	}

	@include media('>=desktop') {
		padding: 64px 0 146px;
	}
	h2 {
		margin: 0 0 31px;

		@include media('>=tablet') {
			margin: 0 0 42px;
		}
	}

	&__holder {
		position: relative;
		max-width: 180px;
		margin: 0 auto;

		@include media('>=tablet') {
			max-width: 420px;
		}

		@include media('>=desktop') {
			max-width: 597px;
		}
	}

	&__text {
		background: $black;
		color: $white;
		font-weight: 600;
		position: absolute;

		.chart__wrap {
			width: 100%;
			position: relative;
			padding: 6px 5px;
			font-size: 7px;
			line-height: 7px;

			@include media('>=tablet') {
				font-size: 16px;
				line-height: 20px;
				padding: 12px 5px;
			}

			@include media('>=desktop') {
				font-size: 22px;
				line-height: 24px;
				font-weight: 600;
				padding: 15px 5px 22px;
			}

			&:before {
				content:"";
				position: absolute;
			}
		}

		&.chart__text--one {
			width: 60px;
			right: 95%;
			top: 34%;

			@include media('>=tablet') {
				width: 120px;
				right: 95.3%;
				top: 50%;
				transform: translateY(-50%);
				margin: -15px 0 0;
			}

			@include media('>=desktop') {
				width: 198px;
			}
			.chart__wrap {
				&:before {
					@include triangle (18px 9px, $black, right);
					top: 16px;
					left: 100%;

					@include media('>=tablet') {
						@include triangle (36px 18px, $black, right);
						top: 50%;
						transform: translateY(-50%);
					}

					@include media('>=desktop') {
						@include triangle (59px 30px, $black, right);
					}
				}
			}
			.chart__number {
				right: -10px;
				top: -10px;

				@include media('>=tablet') {
					right: -16px;
					top: -16px;
				}

				@include media('>=desktop') {
					right: -24px;
					top: -36px;
				}
			}
		}

		&.chart__text--two {
			left: 87%;
			top: 16%;
			width: 81px;

			@include media('>=tablet') {
				width: 175px;
				left: 86%;
				top: 17%;
			}

			@include media('>=desktop') {
				width: 269px;
			}
			.chart__wrap {
				&:before {
					@include triangle (18px 9px, $black, left);
					top: 7px;
					right: 100%;

					@include media('>=tablet') {
						@include triangle (36px 18px, $black, left);
						top: 24px;
					}

					@include media('>=desktop') {
						@include triangle (59px 30px, $black, left);
					}
				}
			}
			.chart__number {
				right: -10px;
				top: -10px;

				@include media('>=tablet') {
					right: -16px;
					top: -16px;
				}

				@include media('>=desktop') {
					right: -24px;
					top: -36px;
				}
			}
		}

		&.chart__text--three {
			bottom: 20%;
			left: 88%;
			width: 62px;

			@include media('>=tablet') {
				width: 150px;
				bottom: 20.7%;
				left: 87.6%;
			}

			@include media('>=desktop') {
				width: 202px;
			}
			.chart__wrap {
				&:before {
					@include triangle (18px 9px, $black, left);
					top: 19px;
					right: 100%;

					@include media('>=tablet') {
						@include triangle (36px 18px, $black, left);
						top: 40px;
					}

					@include media('>=desktop') {
						@include triangle (59px 30px, $black, left);
						top: 57px;
					}
				}
			}
			.chart__number {
				right: -10px;
				top: -10px;

				@include media('>=tablet') {
					right: -16px;
					top: -16px;
				}

				@include media('>=desktop') {
					right: -24px;
					top: -36px;
				}
			}
		}

		&.chart__text--four {
			width: 100px;
			background: #187663;
			top: 94%;
			right: 42%;

			@include media('>=tablet') {
				width: 260px;
				right: 42.5%;
				top: 93.4%;
			}

			@include media('>=desktop') {
				width: 310px;
			}
			.chart__wrap {
				&:before {
					@include triangle (18px 9px, #187663, up);
					bottom: 100%;
					right: 7px;

					@include media('>=tablet') {
						@include triangle (36px 18px, #187663, up);
						right: 23px;
					}

					@include media('>=desktop') {
						@include triangle (59px 30px, #187663, up);
					}
				}
			}
			.chart__number {
				left: -10px;
				top: -10px;

				@include media('>=tablet') {
					left: -16px;
					top: -16px;
				}

				@include media('>=desktop') {
					left: -30px;
					top: -36px;
				}
			}
		}

		h3 {
			font-size: 10px;
			line-height: 10px;
			margin: 0;

			@include media('>=tablet') {
				font-size: 24px;
				line-height: 26px;
				margin: 0 0 5px;
			}

			@include media('>=desktop') {
				font-size: 34px;
				line-height: 36px;
				font-weight: 600;
			}
		}

		p {
			margin: 0;
		}

		.chart__number {
			display: block;
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background: #25b89a;
			color: #fff;
			text-align: center;
			line-height: 12px;
			font-size: 10px;
			position: absolute;
			padding: 5px 0 0;

			@include media('>=tablet') {
				font-size: 22px;
				line-height: 24px;
				width: 32px;
				height: 32px;
				padding: 6px 0 0;
			}

			@include media('>=desktop') {
				font-size: 34px;
				line-height: 36px;
				font-weight: 600;
				width: 64px;
				height: 64px;
				padding: 15px 0 0;
			}
		}
	}
}

.map {
	padding: 115px 0 35px;

	@include media('>=tablet') {
		padding: 130px 0 50px;
	}

	@include media('>=desktop') {
		padding: 150px 0 86px;
	}

	img {
		max-width: none;
		width: 100%;
	}
}

.information {
	position: relative;
	color: #fff;
	background-size: cover;
	background-position: center;
	z-index: 1;
	padding: 0 0 60px;

	@include media('>=tablet') {
		padding: 60px 0;
	}

	@include media('>=desktop') {
		padding: 37px 0 71px;
	}

	&:before {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		content:"";
		background: rgba(0,0,0,0.4);
		z-index: -1;
	}

	&__wrap {
		display: table;
		width: 100%;
		table-layout: fixed;

		@include media('>=tablet') {
			display: block;
			font-size: 0;
			line-height: 0;
		}
	}

	&__text {
		font-size: 12px;
		line-height: 16px;
		display: table-footer-group;
		width: 100%;
		@include media('>=tablet') {
			display:inline-block;
			vertical-align:middle;
			width: 60%;
			font-size: 16px;
			line-height: 22px;
		}

		@include media('>=desktop') {
			width: 65%;
		}

		@include media('>=widescreen') {
			padding: 11px 0 0;
		}

		h1 {
			font-size: 24px;
			line-height: 30px;
			margin: 0 0 12px;
			@include media('>=tablet') {
				font-size: 35px;
				line-height: 40px;
				margin: 0 0 18px;
			}

			@include media('>=desktop') {
				font-size: 50px;
				line-height: 63px;
			}
		}

		p {
			margin: 0 0 20px;

			@include media('>=tablet') {
				margin: 0 0 25px;
			}

			@include media('>=desktop') {
				margin: 0 0 31px;
			}

			@include media('>=widescreen') {
				margin: 0 50px 31px 0;
			}
		}
	}

	&__img {
		text-align: center;

		@include media('>=tablet') {
			width: 40%;
			display:inline-block;
			vertical-align:middle;
		}

		@include media('>=desktop') {
			text-align: right;
			width: 35%;
		}

		img {
			max-width: none;
			width: 100%;
		}
	}

	&__img-wrap {
		display:inline-block;
		vertical-align:top;
		@include media('>=tablet') {
			margin: 0 -25px 0 0;
		}
		@include media('>=desktop') {
			margin: 0 -35px 0 0;
		}
		@include media('>=widescreen') {
			margin: 0 -74px 0 0;
		}
	}
}


