#footer {
	background: #3b3b3b;
	color: $white;
	//position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 1000;
	@include media('>=tablet') {
		background: #231f20;

	}

	.holder {
		position: relative;
		padding: 48px 20px 34px;
		@include media('>=375px') {
			padding: 48px 50px 34px 70px;
		}
		@include media('>=tablet') {
			padding: 39px 10px 0;
		}
		@include media('>=desktop') {
			padding: 39px 7px 0;
		}
	}
}

.footer__logo {
	width: 242px;
	margin: 0 0 37px;

	@include media('>=tablet') {
		float: left;
	}
	img {
		width: 100%;
		height: auto;
	}
}

.footer__links {
	@extend %listreset;
	font-size: 14px;
	line-height: 18px;
	padding: 0 0 0 2px;

	@include media('>=tablet') {
		float: right;
		width: 215px;
		font-size: 16px;
		line-height: 20px;
	}

	li {
		margin: 0 0 20px;
		@include media('>=tablet') {
			margin: 0 0 21px;
		}
	}

	a {
		color: $white;
		display:inline-block;
		vertical-align:top;
		position: relative;
		padding: 0 0 4px;
		@include media('>=tablet') {
			padding: 0 0 1px;
		}
		&:before {
			content:"";
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 1px;
			background: #fff;
			transition: all 0.3s linear;
		}
		&:hover {
			&:before {
				background: none;
			}
		}
	}
}

.up {
	display: block;
	width: 29px;
	height: 29px;
	background: #808285;
	color: $white;
	position: absolute;
	bottom: 100%;
	right: 34px;
	z-index: 5;
	@include media('>=tablet') {
		width: 40px;
		height: 40px;
		right: 10px;
	}
	@include media('>=1400px') {
		right: -85px;
	}

	&:hover {
		opacity: 0.9;
	}

	span {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		font-size: 25px;
		line-height: 1;
		margin: 2px 0 0;
		@include media('>=tablet') {
			font-size: 30px;
			margin: 1px 0 0;
		}
	}
}