#header {
	padding: 21px 0;
	position: fixed;
	z-index: 99;
	top: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2);

	@include media('>=tablet') {
		padding: 0;
	}

	.holder {
		padding: 0 10px;
	}
}
.header-default {
	background-color: transparent !important;
	box-shadow: none !important;
	.nav__list .active, .nav__list li:hover {
		border-bottom: 3px solid #25b89a !important;
	}
	@include media('>=tablet') {
		.nav__list li a {
			color: #fff;
		}
	}
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-ms-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.logo {
	float: left;
	width: 220px;
	margin: 0 0 0 13px;
	@include media('>=tablet') {
		margin: 21px 0;
		width: 242px;
	}

	img {
		width: 100%;
		height: auto;
	}
}

.nav {
	float: right;
	text-align: left;
	padding: 8px 14px 0 0;

	@include media('>=tablet') {
		text-align: right;
		width: calc(100% - 242px);
		padding: 0 15px 0 0;
	}

	&__opener { 
		display: block;
		width: 32px;
		height: 26px;
		position: relative;
		float: right;

		@include media('>=tablet') {
			display: none;
		}

		&:hover {
			opacity: 0.7;
		}
		&:after,
		&:before {
			content:"";
			height: 6px;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			background: #000;
			border-radius: 1px;
		}
		&:after {
			top: auto;
			bottom: 0;
		}
		span {
			position: absolute;
			top: 50%;
			left: 0;
			right: 0;
			height: 6px;
			background: #231f20;
			margin: -3px 0 0;
			border-radius: 1px;
		}
	}

	&__drop {
		position: fixed;
		top: 0;
		right: -100%;
		left: 100%;
		bottom: 0;
		overflow: hidden;
		overflow-y: auto;
		text-transform: uppercase;
		width: 100%;
		transition: all 0.3s linear;

		@include media('>=tablet') {
			position: static;
			width: auto;
			overflow: visible;
		}

		.nav__active & {
			right: 0;
			left: 0;
		}

		.nav__opener {
			float: none;
			position: absolute;
			top: 26px;
			left: -5px;
			z-index: 999;
		}
	}

	&__list {
		@extend %listreset;
		font-size: 0;
		line-height: 0;
		// padding: 81px 0 0;
		padding: 55px 0 0;
		position: relative;

		@include media('>=tablet') {
			padding: 40px 0 0;
		}
		li {
			display: block;
			font-size: 14px;
			line-height: 18px;
			border-bottom: 1px solid #504b4b;

			&:last-child {
				@include media('>=desktop') {
					margin-left: 38px;
				}
			}

			@include media('>=tablet') {
				border: none;
				display:inline-block;
				vertical-align:top;
				margin: 0 0 10px 25px;
				font-size: 12px;
				line-height: 16px;
			}
			.small {
				font-size: 12px;
				color: #4d4f51;
				@include media('>=tablet') {
					font-size: 10px;
				}
			}
			.icon {
				display:inline-block;
				vertical-align:middle;
				width: 25px;
				margin: 0 0 0 5px;

				@include media('>=tablet') {
					width: 15px;
					margin: 2px 0 0 2px;
				}
				img {
					width: 100%;
					height: auto;
				}
			}
			&:hover {
				border-bottom: 3px solid #000;
				@include media('>=tablet') {
					padding-bottom: 14px;
				}
				.dropdown-content {
					display: block;
				}
			}
			.dropdown-content {
				display: none;
				position: absolute;
				@include media('>=tablet') {
					top: 72px;
					right: 0;
					min-width: 200px;
				}
				background-color: #000;
				box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
				z-index: 1;
				a {
					color: #000;
					font-size: 12px;
					background-color: #ffffff;
					padding: 12px 16px;
					text-decoration: none;
					display: block;
					text-align: left;
				}
				.border-bottom {
					border-bottom: 1px solid #000;
				}
			}
		}
		.active {
			border-bottom: 3px solid #000;
			padding-bottom: 14px;
		}

		a {
			color: #504b4b;
			display: block;
			padding: 20px 20px 20px 20px;
			font-weight: 700;
			letter-spacing: 1px;
			position: relative;
			@include media('>=375px') {
				padding: 20px 60px 20px 45px;
			}

			@include media('>=tablet') {
				display: inline;
				padding: 0;
				color: #1a1d22;
			}
			&.green-link {
				color: $green;
			}

			&:hover {
				background: rgba(0,0,0,0.1);

				@include media('>=tablet') {
					background: none;
					opacity: 0.7;
				}
			}

			.icon-chevron-right {
				position: absolute;
				top: 50%;
				right: 15px;
				line-height: 1;
				font-size: 14px;
				transform: translateY(-50%);
				margin: -1px 0 0;
				@include media('>=375px') {
					right: 44px;
				}
				@include media('>=tablet') {
					display: none;
				}
			}
		}
	}

	&__decor {
		position: absolute;
		top: 0;
		left: 50%;
		transform: translatex(-50%);
		width: 115px;
		text-align: center;
		background: #504b4b;
		color: $white;
		font-size: 10px;
		line-height: 14px;
		z-index: 1;
		padding: 6px 0 4px;
		font-weight: 600;

		@include media('>=tablet') {
			left: auto;
			transform: none;
			right: 237px;
			padding: 4px 0;
			width: 110px;
		}

		&:after,
		&:before {
			content:"";
			position: absolute;
			top: 0;
			left: -11px;
			right: 50%;
			bottom: 0;
			background: #504b4b;
			transform: skewX(42deg);
			z-index: -1;
		}
		&:after {
			left: 50%;
			right: -11px;
			transform: skewX(-42deg);
		}

		.triangle {
			position: absolute;
			top: 100%;
			left: 50%;
			transform: translateX(-50%);
			@include triangle (16px 9px, #504b4b, down);
		}
	}

	&__top {
		height: 81px;
		background: #fff;
		position: absolute;
		top: 0;
		left: -9999px;
		right: 0;

		@include media('>=tablet') {
			display: none;
		}
	}

	&__wrap {
		min-height: 100%;
		border-left: 4px solid #dcddde;
		background: #fff;
		margin: 0 0 0 35px;

		@include media('>=tablet') {
			min-height: 0;
			border: none;
			background: none;
			margin: 0;
		}
	}
}