/** This stylesheet resets the base styles for Resource Articles **/

.resources-article {

	/* Document layout */

	article { 
		max-width: 1200px;
		margin: auto;
		padding: 10px;
		margin-top: 100px; // allow margin for fixed width header 
	}

	/* Document text */

	p, ol, ul {
		display: block;
		font-size: 1rem;
		line-height: 1.3;
		margin-top: 1rem;
		margin-bottom: 1rem;
		margin-left: 0;
		margin-right: 0;
	}

	h1 { 
		display: block;
		// font-size: 2rem; // allow global styles to set font size
		margin-top: 0.67rem;
		margin-bottom: 0.67rem;
		margin-left: 0;
		margin-right: 0;
		font-weight: 100;
		line-height: 1;
	}

	h2 { 
		display: inline-block;
		font-size: 1.5rem;
		margin-top: 0.83rem;
		margin-bottom: 0.83rem;
		margin-left: -100px; // set the arrow outside the article margin
		margin-right: 0;
		font-weight: 300;
		padding-left: 100px; // reposition text away from negative margin
		padding-right: 2rem;
		text-transform: uppercase;
		/* Arrow effect */
		border-top: 1.5rem solid transparent; 
		border-bottom: 1.5rem solid transparent;
		border-left: 0px solid transparent;
		border-right: 1.5rem solid #fff; // create the arrow
		line-height: 0; // allow space for arrow effect
		white-space: nowrap; // don't wrap text on zero line
	}

	h3 {
		display: block;
		font-size: 1.17rem;
		margin-top: 1rem;
		margin-bottom: 1rem;
		margin-left: 0;
		margin-right: 0;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 1;
	}

	h4 {
		display: block;
		font-size: 2rem;
		margin-top: 1.33rem;
		margin-bottom: 1.33rem;
		margin-left: 0;
		margin-right: 0;
		font-weight: 100;
		line-height: 1;
		text-align: center;
	}

	h5 {
		display: block;
		font-size: 0.83rem;
		margin-top: 1.67rem;
		margin-bottom: 1.67rem;
		margin-left: 0;
		margin-right: 0;
		font-weight: 700;
		line-height: 1;
	}

	h6 {
		display: block;
		font-size: 0.67em;
		margin-top: 2.33em;
		margin-bottom: 2.33em;
		margin-left: 0;
		margin-right: 0;
		font-weight: 700;
		line-height: 1;
	}

	/* List styles */

	ul {
		padding-left: 0;
		li {
			list-style-type: none;
			&:before {
				content: "\003E \0020"; // unicode display as list style type
				color: #fff;
				background-color: #57585b;
				padding: 0.2rem 0.1rem 0.2rem 0.3rem; // center arrow in background
				margin-right: 1.5rem;
			}
		}
	}

	blockquote ul {
		padding-left: 1rem;
		li {
			list-style-type: disc;
			&:before {
				content: "";
				color: transparent;
				background-color: transparent;
				padding: 0;
				margin-right: 0;
			}
		}
	}

	ol { // footnotes
		margin-left: 10px;
		padding-left: 0;
		text-align: left;
		li {
			vertical-align: super;
			font-size: 0.83rem;
		}
	}

	/* Classes */

	.float-left {
		float: left;
		max-width: 40%; // improve view for mobile
		margin: 0 1rem 1rem 0;
	}

	.float-right {
		float: right;
		max-width: 40%; // improve view for mobile
		margin: 0 0 1rem 1rem;
	}

	.clear {
		clear: both;
	}

	/* Themes */

	.bespoke { 
		h2 { 
			color: #fff;
			background-color: #4c4d4f;
		}
	}

	.ortho-k { 
		h2 {
			color: #fff;
			background-color: #0db14b;
		}
	}


}

.resources-page {
  height: 300px;

}
