<template>
  <div :class="'article article--0' + index">
    <div class="holder">
      <div class="article__img">
        <img :src="articles.img" alt="image description" width="571" height="421"
             ondragstart="return false;">
      </div>
      <div class="article__text">
        <h2>{{articles.subTitle}}</h2>
        <p>{{articles.subText}}</p>
        <router-link :to="{name: 'app.practice_locator'}" class="button">
              <span class="button__icon">
                <img src="@/assets/images/button-icon.png" alt="image description" width="46"
                     height="25"
                     ondragstart="return false;">
              </span>
          <span class="button__text">Find a practitioner</span>
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
        name: 'articles',
        props: {
            index: Number,
            articles: {
                type: Object,
                default() {
                    return {};
                },
            },
        },
    };
</script>

<style scoped>

</style>
