<template>
  <div :class="'banner banner--0' + index" :id="'scroll0' + index">
    <div class="holder">
      <div class="banner__logo">
        <img :src="banner.img.url"
             :alt="banner.img.alt"
             :width="banner.img.width"
             :height="banner.img.height"
             ondragstart="return false;">
      </div>
    </div>
  </div>
</template>

<script>
    export default {
        name: 'banner',
        data() {
            return {};
        },
        props: {
            index: Number,
            banner: {
                type: Object,
                default() {
                    return {};
                },
            },
        },
    };
</script>

<style scoped>

</style>
