<template>
  <div :class="(index == 3) ? ('heading heading--0' + (index+1)):('heading heading--0' + index)">
    <div class="heading__holder">
      <div class="heading__wrap">
        <div class="holder">
          <h1>{{header.title}}</h1>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
        name: 'Heading',
        data() {
            return {};
        },
        props: {
            index: Number,
            header: {
                type: Object,
                default() {
                    return {};
                },
            },
        },
    };
</script>

<style scoped>

</style>
