<template>
  <div>
    <div :class="'info info--0' + oIndex">
      <div class="holder">
        <div class="info__heading">
          <h2>{{ info.heading.title }}</h2>
          <p>{{ info.heading.content }}</p>
          <span v-if="info.heading.extra" class="info__extra">{{ info.heading.extra }}</span>
        </div>
        <div class="info__list">
          <div class="info__row" v-for="(row, i) in info.list" :key="i">
            <div class="info__row-wrap">
              <div class="info__col" v-for="(oData, k) in row.overlay" :key="k">
                <div :class="oData.isChecked ? 'info__post info__active':'info__post'"
                     v-on:click="infoCheck(i, k)">
                  <img :src="oData.img" alt="image description" width="270" height="270"
                       ondragstart="return false;">
                  <div class="info__overlay-text">
                    <h3>{{ oData.title }}</h3>
                    <p>{{ oData.content }}</p>
                  </div>
                  <div class="info__check">
                    <img src="@/assets/images/check.png" alt="image description" width="150"
                         height="147" ondragstart="return false;">
                  </div>
                </div>
              </div>
            </div>

            <vue-slide-up-down v-if="i > 0 ? selectedRow2 : selectedRow1"
                               :active="info__area_hidden[oIndex-1]" :duration="1000">
              <div v-if="oIndex === 1" class="info__area">
                <div class="info__icon-holder">
                  <img
                          src="@/assets/images/eye.png"
                          alt="image description"
                          width="144"
                          height="102"
                          ondragstart="return false;">
                </div>
                <span class="info__text">You are a candidate for scleral lenses</span>
                <router-link :to="{name: 'app.practice_locator'}" class="button">
                  <span class="button__icon">
                    <img
                            src="@/assets/images/button-icon.png"
                            alt="image description"
                            width="46"
                            height="25"
                            ondragstart="return false;">
                  </span>
                  <span class="button__text">Find a practitioner</span>
                </router-link>
              </div>
              <div v-if="oIndex === 2" class="info__area">
                <div class="info__icon-holder">
                  <img
                          src="@/assets/images/night.png"
                          alt="image description"
                          width="130"
                          height="101"
                          ondragstart="return false;">
                </div>
                <span class="info__text">You are a candidate for Ortho-K</span>
                <p>Ask your eyecare provider whether these can slow the need to change glasses for
                  your child </p>
                <router-link :to="{name: 'app.practice_locator'}" class="button">
                  <span class="button__icon">
                    <img
                            src="@/assets/images/button-icon.png"
                            alt="image description"
                            width="46"
                            height="25"
                            ondragstart="return false;">
                  </span>
                  <span class="button__text">Find a practitioner</span>
                </router-link>
              </div>
              <div v-if="oIndex === 3" class="info__area">
                <div class="info__icon-holder">
                  <img src="@/assets/images/eye-2.png" alt="image description" width="117"
                       height="88" ondragstart="return false;">
                </div>
                <span class="info__text">You are a candidate for EyeSpace Bespoke lenses</span>
                <router-link :to="{name: 'app.practice_locator'}" class="button">
                    <span class="button__icon">
                      <img src="@/assets/images/button-icon.png" alt="image description" width="46"
                           height="25" ondragstart="return false;">
                    </span>
                  <span class="button__text">Find a practitioner</span>
                </router-link>
              </div>
            </vue-slide-up-down>

          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
    export default {
        name: 'info',
        data() {
            return {
                info__area_hidden: [false, false, false],
                selectedRow1: false,
                selectedRow2: false,
                // areaRow: {},
                // isChecked: [],
            };
        },
        props: {
            oIndex: Number,
            info: {
                type: Object,
                default() {
                    return {};
                },
            },
        },
        methods: {
            infoCheck(i, k) {
                this.info__area_hidden[this.oIndex - 1] = false;
                this.selectedRow1 = false;
                this.selectedRow2 = false;
                // const eRow = {};
                this.info.list.forEach((row, index) => {
                    if (index === i) {
                        row.overlay[k].isChecked = !row.overlay[k].isChecked;
                    }
                    row.overlay.forEach((col) => {
                        if (col.isChecked === true) {
                            // eRow[index] = true;
                            this.info__area_hidden[this.oIndex - 1] = true;
                        }
                    });
                    if (index === 0 && this.info__area_hidden[this.oIndex - 1] === true) {
                        this.selectedRow1 = true;
                        this.selectedRow2 = false;
                    } else if (index === 1 && this.info__area_hidden[this.oIndex - 1] === true) {
                        if (this.selectedRow1 === false) {
                            this.selectedRow1 = false;
                            this.selectedRow2 = true;
                        }
                    }
                });
                // if (eRow[0] && eRow[1]) eRow[0] = false;
                // this.areaRow = eRow;
            },
        },
        mounted() {
            // this.initData();
        },
    };
</script>

<style scoped>

</style>
