<template>
  <div>
    <div v-if="index === 1" class="quotes">
      <div class="holder">
        <div class="quotes__heading">
          <h2>Here’s what our users say about
            <span class="gray-text">Scleral lenses</span>
          </h2>
          <p>See what some of our great users
            <br>have to say about SCLERAL Lenses</p>
        </div>
        <div class="quotes__slider">
          <div class="pagination"></div>
          <div class="slideset">
            <div class="slide">
              <blockquote class="quotes__post">
                <q>I have keratoconus and have never been able to wear hard contacts so instead I
                  have just put up with bad
                  vision in glasses. I recently went to my optometrist and they told me about
                  Scleral lenses. I am so grateful
                  for these because they are the first ever contact lenses that I have worn that are
                  comfortable, I can
                  wear them all day and best of all I am now OK to drive! Thank you so much.</q>
                <cite>
                  <a href="#">James</a>
                </cite>
              </blockquote>
            </div>
            <div class="slide">
              <blockquote class="quotes__post">
                <q>I have keratoconus and have never been able to wear hard contacts so instead I
                  have just put up with bad
                  vision in glasses. I recently went to my optometrist and they told me about
                  Scleral lenses. I am so grateful
                  for these because they are the first ever contact lenses that I have worn that are
                  comfortable, I can
                  wear them all day and best of all I am now OK to drive! Thank you so much.</q>
                <cite>
                  <a href="#">James</a>
                </cite>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div v-if="index === 2" class="quotes">
      <div class="holder">
        <div class="quotes__heading">
          <h2>Here’s what our users say about
            <span class="green-text">Forge Ortho-K</span>
          </h2>
          <p>See what some of our great users
            <br>have to say about forge ortho-k</p>
        </div>
        <div class="quotes__slider quotes__slider--second">
          <div class="pagination"></div>
          <div class="slideset">
            <div class="slide">
              <blockquote class="quotes__post">
                <q>My first night of using Ortho-K was difficult but so worth it for the benefits I
                  now receive. I think the
                  way they work is amazing, and I like the fact that they are worn at night so I no
                  longer need to worry
                  about my vision during the day. To me, they seem easier than normal contacts
                  because of the size and
                  when you use them, and how long they last. I would recommend them to anyone (:</q>
                <cite>
                  <a href="#">Daniela</a>
                </cite>
              </blockquote>
            </div>
            <div class="slide">
              <blockquote class="quotes__post">
                <q>My first night of using Ortho-K was difficult but so worth it for the benefits I
                  now receive. I think the
                  way they work is amazing, and I like the fact that they are worn at night so I no
                  longer need to worry
                  about my vision during the day. To me, they seem easier than normal contacts
                  because of the size and
                  when you use them, and how long they last. I would recommend them to anyone (:</q>
                <cite>
                  <a href="#">Daniela</a>
                </cite>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
    export default {
        name: 'quote',
        props: {
            index: Number,
            default() {
                return null;
            },
        },
    };
</script>

<style scoped>

</style>
