/* eslint-disable */
<template>
  <div id="app">
    <div id="wrapper">
      <app-header></app-header>
      <!--<div id="nav">-->
        <!--<router-link to="/">Home</router-link> |-->
        <!--<router-link to="/about">About</router-link>-->
      <!--</div>-->
      <router-view/>
    </div>
    <app-footer></app-footer>
  </div>
</template>

<script>

import AppHeader from '@/components/layouts/AppHeader.vue';

import AppFooter from '@/components/layouts/AppFooter.vue';


export default {
	components: {
		appHeader: AppHeader,
		appFooter: AppFooter,
	},
};
</script>

<style src="nprogress/nprogress.css">
</style>
